.bbs-card {
  background-color: #fefbed;
  color: black;
  width:800px;
  margin: 20px auto 20px auto;
  /*bbs 중앙에*/
  border-radius: 20px;
}
.bbs-header {
    background-color: #fadd6e;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding : 20px;
}
.bbs-body {
    background-color: #fefbed;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    padding : 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.text-comment {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    margin: 10px 0 20px 52px;
}
.text-title {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    margin: 0;
}
.bbs-reply {
    color:gray;
    padding : 20px;
}
.text-reply-name {
    font-weight: 500;
    margin: 0;
    padding-bottom: 10px;
}
.text-reply-comment {
    font-weight: 300;
    margin: 0;
    padding-left: 54px;
}
.text-reply-date {
    padding-left: 10px;
    font-weight: 200;
}
.emoge {
    width: 40px;
    height: 40px;
    background-image: url("images/sad.jpg");
    background-size: contain;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: middle;
}
.bbs-reply-text {
    width: 90%;
    display: inline-block;
}
.select-emogi-normal {
    width: 40px;
    height: 40px;
    background-image:url('images/normal.jpg');
    background-size: contain;
    border-radius: 50%;
}
.select-emogi-panic {
    width: 40px;
    height: 40px;
    background-image:url('images/panic.jpg');
    background-size: contain;
    border-radius: 50%;
}
.select-emogi-sad {
    width: 40px;
    height: 40px;
    background-image:url('images/sad.jpg');
    background-size: contain;
    border-radius: 50%;
}
.select-emogi-angry {
    width: 40px;
    height: 40px;
    background-image:url('images/angry.jpg');
    background-size: contain;
    border-radius: 50%;
}

/*모달*/
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}
.popup-container.active {
    display: block;
}
